* {
    box-sizing: border-box;
}

.header .header-background {
    width: 850px;
    height: 400px;
    background-color: #3b5998;
    background-position: center;
    z-index: 1;
}

.profile-buttons {
    background-color: white;
    text-align: left;
    position: relative;
    height: 25px;
    width: 675px;
    left: 175px;
    z-index: 2;
    display: inline-block;
    margin-left: 5px;
}

.profile-photo {
    background-image: url(https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-1/p160x160/90083246_10158596006038689_1916405705871458304_o.jpg?_nc_cat=102&_nc_sid=dbb9e7&_nc_ohc=1KqxusohHRYAX_XrXrH&_nc_ht=scontent-ort2-2.xx&_nc_tp=6&oh=04200ec283a079138aaafcc10fc165f5&oe=5EBFBE1A);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: -300px;
    left: 15px;
    z-index: 3;
}

.header-info {
    list-style: none;
    position: relative;
    top: -150px;
    left: 175px;
    margin: 10px;
}

.header-info h1 {
    margin-bottom: -5px;
    color: white;
}

.header-info h4 {
    color: whitesmoke;
}

nav {
    height: 36px;
    width: 850px;
    background-color: white;
    position: relative;
    top: -150px;
    z-index: 2;
}

.profile-buttons button {
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 100%;
}

.profile-buttons button:hover {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 100%;
    cursor: pointer;
}

.follow-buttons {
    position: relative;
    top: -400px;
    left: 450px;
    z-index: 4;
    height: 25px;
}

.follow-buttons button{
    line-height: 25px;
    font-size: 100%;
}

.follow-buttons button:hover{
    height: 25px;
    cursor: pointer;
}

.header {
    width: 850px;
    border: 1px solid white;
}